/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* Variables */
  :root{
    --BodyFontsFamily: 'Roboto', sans-serif;
    --MainColor: #C7A17A ;
    --MainAltColor: #FFFFFF;
    --MainBgColor: #000000;/* 040509 */
    --MainTransition: 0.4s;
    --MainPaddingTop: 50px;
    --MainPaddingBottom: 50px;
  }
/* Global Rules */
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  html::-webkit-scrollbar {
    width: 14px;
  }
  html::-webkit-scrollbar-track {
    background-color: #191919;
  }
  html::-webkit-scrollbar-thumb {
    background-color: var(--MainColor);
  }
  ::selection {
    background-color: #222;
    color: var(--MainColor);
  }
  body{
    font-family: var(--BodyFontsFamily);
    background-color: var(--MainBgColor);
    color: white;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  i {
    cursor: pointer;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
/* Small Screen */
  @media (min-width: 768px) {
    .container{
      width: 750px;
    }
  }
/* Medium Screen */
  @media (min-width: 992px) {
    .container{
      width: 970px;
    }
  }
/* Lager Screen*/
  @media (min-width: 1200px) {
    .container{
      width: 1170px;
    }
  }
/* Styling The Header Section */
  header {
    -moz-box-shadow: 0 0 4px rgba(255,255,255,.3);
    -webkit-box-shadow: 0 0 46px rgba(255,255,255,.3);
    box-shadow: 0 0 4px rgba(255,255,255,.3);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 90px;
  }
  header .container .logo-img {
    object-fit: cover;
  }
  header .main-nav .check {
    display: none;
  }
  header .main-nav .check + .burger {
    z-index: 1;
    width: 30px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    cursor: pointer;
  }
  header .main-nav .check + .burger span {
    height: 4px;
    width: 100%;
    background-color: #FFF;
    border-radius: 4px;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  header .main-nav .check + .burger span:first-child {
    top: 0;
  }
  header .main-nav .check:checked + .burger span:first-child {
    top: 50%;
    transform: rotate(45deg);
  }
  header .main-nav .check + .burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header .main-nav .check:checked + .burger span:nth-child(2) {
    opacity: 0;
  }
  header .main-nav .check + .burger span:last-child {
    bottom: 0;
  }
  header .main-nav .check:checked + .burger span:last-child {
    top: 50%;
    transform: rotate(-45deg);
  }
  header .main-nav > .desktop-links {
    display: flex;
    position: relative;
  }
  header .main-nav > ul > li > a {
    display: block;
    padding: 40px 20px;
    text-transform: uppercase;
    color: var(--MainAltColor);
    font-size: 14px;
    transition: var(--MainTransition);
    position: relative;
    overflow: hidden;
  }
  header .main-nav > ul > li > a:hover {
    color: var(--MainColor);
    background-color: #141414;
  }
  header .main-nav > ul > li > a::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: var(--MainColor);
    height: 4px;
    width: 0%;
    transition: var(--MainTransition);
  }
  header .main-nav > ul > li > a:hover::before {
    width: 100%
  }
  header .header-icons {
    display: flex;
  }
  header .header-icons i {
    color: var(--MainAltColor);
    transition: var( --MainTransition);
    padding: 0 10px;
  }
  header .header-icons i:hover {
    color: var(--MainColor);
  }
/* Mega Menu */
  header .mega-menu {
    position: absolute;
    width: 100%;
    background: linear-gradient(0deg, black, rgb(0 0 0 / 90%));
    left: 0;
    top: calc(100% + 10px);
    padding: 0 4px;
    border: 4px solid #222;
    border-top: none;
    border-radius: 0 0 4px 4px;
    opacity: 0;
    visibility: hidden;
    z-index: -11;
    transition: var(--MainTransition);
  }
  header .main-nav .desktop-links li:last-child:hover .mega-menu {
    top: calc(100% + 1px);
    opacity: 1;
    visibility: visible;
    z-index: 11;
    left: 0;
  } 
  header .mega-menu li:not(:last-of-type) {
    border-bottom: 2px solid #222;
  }
  header .mega-menu ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 10px;
    color: var(--MainAltColor);
    text-transform: uppercase;
    padding: 14px;
    position: relative;
    transition: var(--MainTransition);
  }
  header .mega-menu ul > li > a::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #0f0f0f;
    z-index: -1;
    transition: var(--MainTransition);
  }
  header .mega-menu ul > li > a:hover::before {
    width: 100%;
    height: 100%;
  }
  header .mega-menu i {
    color: var(--MainAltColor);
    transition: var(--MainTransition);
  }
  header .mega-menu a:hover,
  header .mega-menu a:hover i{
    color: var(--MainColor);
  }
/* Making The Header Section Responsive */
  @media (min-width: 768px) {
    header .main-nav .check + .burger {
      display: none;
    }
    header .main-nav .mobile-links {
      display: none;
    }
  }
  @media (max-width: 767px) {
    header .main-nav .desktop-links {
      display: none;
    }
    header .main-nav .mobile-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(17, 17, 17, 0.95);
      opacity: 0;
      visibility: hidden;
      z-index: -111;
      transition: var(--MainTransition);
    }
    header .main-nav .check:checked ~ ul {
      opacity: 1;
      visibility: visible;
      z-index: 111;
    }
    header .main-nav ul.mobile-links > li:not(:last-child) {
      border-bottom: 1px solid #333;
    }
    header .main-nav ul.mobile-links > li > a {
      padding: 20px;
    }
    header .main-nav ul.mobile-links > li > a::before {
      top: unset;
      bottom: 0;
    }
    header .header-icons i {
      font-size: 18px;
    }
  }
  @media (max-width: 525px) {
    header .container {
      flex-direction: column;
      align-items: flex-start;
    }
    header .container .logo {
      display: block;
      margin: 10px auto 0;
    }
    header .main-nav .check + .burger {
      top: unset;
      transform: unset;
      bottom: 20px;
      right: 15px;
    }
    header .header-icons {
      gap: 20px;
    }
    header .header-icons i {
      padding: 20px 0;
    }
  }
/* Styling The Landing Section */
  .landing {
    min-height: 100vh;
    background: url(../Images/landingBg.jpeg);
    background-size: cover;
    padding-top: var(--MainPaddingTop);
    padding-bottom: var(--MainPaddingBottom);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .landing .container {
    position: relative;
  }
  .landing .content {
    text-transform: uppercase;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }
  .landing-title {
    color: var(--MainAltColor);
    margin: 0;
    font-size: 4rem;
  }
  .landing-des {
    text-transform: none;
    color: #ccc;
    line-height: 1.5;
  }
  .landing-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  .landing-button {
    display: block;
    width: fit-content;
    color: var(--MainAltColor);
    transition: var(--MainTransition);
    padding: 12px 30px;
    border: 1px solid var(--MainAltColor);
    border-radius: 4px;
    background: linear-gradient(to right, var(--MainColor) 50%, transparent 50%);
    background-size: 200% 50%;
    background-position: right bottom;
    letter-spacing: 1px;
  }
  .landing-button:hover{
    background-position: left bottom;
    border-color: var(--MainColor);
    color: var(--MainAltColor);
  }
  .landing .social {
    display: flex;
  }
  .landing .social a {
    color: var(--MainAltColor);
    font-size: 16px;
    padding: 0 10px;
    transition: var(--MainTransition);
  }
  .landing .social a:first-child {
    padding-left: 0;
  }
  .landing .social a:hover {
    color: var(--color);
  }
  .social i {
    padding-right: 6px;
  }
/* ----- Making The Landing Section Responsive ----- */
  @media (max-width: 767px) {
    .landing {
      padding-top: 125px;
    }
    .landing .content {
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 95%;
      margin: 0 auto;
    }
    .landing-title {
      font-size: 3rem;
    }
    .landing-buttons {
      justify-content: center;
    }
  }
  @media (max-width: 525px) {
    .landing {
      padding-top: 200px;
    }
    .landing-title {
      font-size: 2rem;
    }
    .landing-buttons {
      gap: 14px;
    }
    .landing-button {
      font-size: 14px;
      padding: 10px 16px;
      letter-spacing: normal;
    }
    .landing .social a {
      font-size: 14px;
    }
    .social i {
      padding-right: 4px;
    }
  }
  @media (max-width: 375px) {
    .landing-button {
      padding: 10px 12px;
    }
    .landing .social {
      flex-wrap: wrap;
      gap: 15px;
    }
    .landing .social a {
      font-size: 12px;
      padding: 0;
    }
  }
/* Styling The First Section */
  .first-section {
    padding-top: 25px;
    padding-bottom: var(--MainPaddingBottom);
  }
  .first-section > .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .first-section .box {
    border: 1px solid #777;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 20px;
    counter-increment: box-num;
    z-index: 1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: var(--MainTransition);
  }
  .first-section .box:hover {
    transform: translateY(-10px);
    border-color: var(--MainColor);
  }
  .first-section .box:first-of-type {
    background-image: url(../Images/FirstSectionBg-1.jpg);
  }
  .first-section .box:nth-of-type(2) {
    background-image: url(../Images/FirstSectionBg-2.jpg);
  }
  .first-section .box:last-of-type {
    background-image: url(../Images/FirstSectionBg-3.jpg);
  }
  .first-section .box::before {
    content: "0" counter(box-num);
    color: var(--MainColor);
    z-index: 1;
    font-weight: bold;
  }
  .first-section .box::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 65%);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: var(--MainTransition);
  }
  .first-section .box-title {
    color: var(--MainAltColor);
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px 0;
  }
  .first-section .box-des {
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: var(--MainTransition) ease;
  }
  .first-section .box:hover .box-des {
    visibility: visible;
    opacity: 1;
  }
/* ----- Making The First Section Responsive ----- */
  @media (max-width: 675px) {
    .first-section .box {
      max-width: 450px;
      margin: 0 auto;
    }
  }
  @media (max-width: 499px) {
    .first-section .box-title {
      font-size: 18px;
    }
    .first-section .box-des {
      font-size: 14px;
    }
  }
  @media (max-width: 375px) {
    .first-section > .container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    }
    .first-section .box {
      height: 200px !important;
    }
    .first-section .box-title {
      font-size: 16px;
    }
  }
/* ------ Components Section Heading ------ */
  .section-heading {
    text-align: center;
    margin-bottom: 80px;
    color: var(--MainAltColor);
    text-transform: uppercase;
  }
  .section-heading .title {
    display: block;
    background: linear-gradient(to right, var(--MainColor) 50%, #222 50%);
    background-size: 202% 88%;
    background-position: left bottom;
    color: var(--MainAltColor);
    font-size: 16px;
    width: fit-content;
    margin: 20px auto;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid var(--MainColor);
    letter-spacing: 0.5px;
    transition: var(--MainTransition);
  }
  .section-heading .title:hover {
    background-position: right bottom;
    color: var(--MainColor);
  }
  .section-heading .des {
    font-size: 2.2rem;
  }
/* Responsive Section Heading */
  @media (max-width: 767px) {
    .section-heading .des {
      font-size: 28px;
  }
  .section-heading .title {
    padding: 8px 14px;
    font-size: 14px;
  }
  }
  @media (max-width: 575px) {
    .section-heading .des {
      font-size: 24px;
    }
  }
  @media (max-width: 399px) {
    .section-heading .des {
      font-size: 18px;
    }
  }
/* Styling The About Section */
  .about {
    padding-top: var(--MainPaddingTop);
    padding-bottom: var(--MainPaddingBottom);
  }
  .about .container {
    display: flex;
    align-items: center;
  }
  .about .image {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .about img {
    width: 100%;
    border-radius: 2px;
  }
  .about .content {
    flex: 0 0 50%;
    padding: 60px;
  }
  .about-title {
    font-size: 1.9rem;
    color:#fff;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 6px dotted var(--MainColor);
    padding-bottom: 10px;
    width: fit-content;
  }
  .about-des {
    color: #bbb;
    line-height: 1.6;
  }
  .about-des:first-of-type {
    padding: 2rem 0;
  }
/* ----- Making The About Section Responsive ----- */
  @media (min-width: 992px) and (max-width: 1199px) {
    .about .content {
      padding: 40px;
    }
    .about-title {
      font-size: 1.6rem;
    }
    .about-des {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 991px) {
    .about .container {
      flex-direction: column;
    }
    .about .content {
      padding: 40px 70px 40px 10px;
      border-bottom: 2px solid #777;
    }
  }
  @media (max-width: 575px) {
    .about .content {
      padding: 40px 20px 40px 10px;
    }
    .about-title {
      font-size: 20px;
    }
    .about-des {
      font-size: 14px;
    }
    .about-des:first-of-type {
      padding: 20px 0;
    }
  }
  @media (max-width: 375px) {
    .about .content {
      padding: 40px 10px 40px 10px;
    }
    .about-title {
      font-size: 18px;
    }
  }
/* Styling The Menu Section */
  .menu {
    padding-top: var(--MainPaddingTop);
    padding-bottom: var(--MainPaddingBottom);
  }
  .menu .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .menu .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 20px 0;
    gap: 20px;
    border: 1px solid #444;
    border-radius: 3px;
    z-index: 1;
    position: relative;
  }
  .menu .box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 0;
    background-color: #191919;
    z-index: -1;
    transition: var(--MainTransition);
  }
  .menu .box:hover::before {
    width: 100%;
  }
  .menu img {
    border: 2px solid var(--MainColor);
    border-radius: 50%;
    cursor: pointer;
  }
  .coffee-name,
  .coffee-price {
    color: var(--MainAltColor);
    font-size: 20px;
  }
  .coffee-name {
    text-transform: uppercase;
  }
  .coffee-bth {
    display: block;
    width: fit-content;
    background-color: transparent;
    border: 2px solid var(--MainColor);
    color: var(--MainColor);
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--MainTransition);
  }
  .coffee-bth:hover {
    color: var(--MainAltColor);
  }
  .coffee-bth::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: -1;
    background-color: var(--MainColor);
    transition: var(--MainTransition);
  }
  .coffee-bth:hover::before {
    width: 110%;
    height: 110%;
  }
  .coffee-bth i {
    margin-left: 10px;
  }
/* ----- Making The Menu Section Responsive ----- */
  @media (max-width: 700px) {
    .menu .container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .menu .box {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
    .menu img {
      width: 80px;
    }
  }
  @media (max-width: 375px) {
    .coffee-name,
    .coffee-price {
      font-size: 16px;
    }
    .coffee-bth{
      padding: 10px 12px;
      font-size: 12px;
    }
  }
/* Styling The Products Section */
  .products {
    padding-top: var(--MainPaddingTop);
    padding-bottom: var(--MainPaddingBottom);
  }
  .products .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .products .box {
    text-align: center;
    background-color: #111;
    padding: 30px 0;
    border: 1px solid #444;
    border-radius: 3px;
    z-index: 1;
    position: relative;
    transition: var(--MainTransition);
  }
  .products .box::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 0;
    background-color: #161616;
    z-index: -1;
    transition: var(--MainTransition);
  }
  .products .box:hover::before {
    width: 100%;
  }
  .product-icons {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .product-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 12px;
    border: 1px solid #999;
    color: #999;
    visibility: hidden;
    transition: var(--MainTransition);
  }
  .products .box:hover .product-icons i {
    visibility: visible;
  }
  .product-icons i:hover {
    color: var(--MainAltColor);
    border-color: var(--MainAltColor);
  }
  .product-content {
    padding-top: 30px;
  }
  .product-stars {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
  .product-stars i {
    color: #D2AD80;
  }
  .product-stars .stars-name {
    text-transform: uppercase;
    color: #A8A8A8;
    margin-right: 4px;
  }
  .product-name {
    text-transform: uppercase;
    color: var(--MainAltColor);
    padding: 16px 0;
    font-size: 18px;
    font-weight: 500;
  }
  .product-price {
    text-transform: uppercase;
    color: var(--MainAltColor);
    font-weight: 500;
  }
  .product-price .highlight {
    color: var(--MainColor);
  }
  .product-price del {
    color: #979797;
  }
/* ----- Making The Product Section Responsive ----- */
  @media (max-width: 767px) {
    .products .box {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
    }
    .product-icons i {
      padding: 12px 10px;
    }
    .products .box img {
      width: calc(151px - 26px);
    }
  }
  @media (max-width: 375px) {
    .products .container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .products .box img {
      width: calc(100% - 70%);
    }
    .product-stars,
    .product-name,
    .product-price {
      font-size: 14px;
    }
  }
/* Styling The Testimonials Section */
  .testimonials {
    padding-top: var(--MainPaddingTop);
    padding-bottom: var(--MainPaddingBottom);
    position: relative;
  }
  .testimonials .box {
    text-align: center;
  }
  .testimonials .quote-img {
    max-width: calc(116px - 58px);
    max-height: calc(86px - 43px);
  }
  .testimonials .review-des {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
    line-height: 1.6;
    color: #f0f0f0;
  }
  .testimonials .review-img {
    width: calc(200px - 125px);
    height: calc(200px - 125px);
    border-radius: 50%;
    cursor: pointer;
  }
  .testimonials .customer,
  .testimonials .position {
    text-transform: uppercase;
    font-weight: 500;
  }
  .testimonials .customer {
    color: var(--MainAltColor);
    padding: 20px 0 10px;
  }
  .testimonials .position {
    color: var(--MainColor);
    padding-bottom: 20px;
  }
  .testimonials .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    font-size: 18px;
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    color: #999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--MainTransition);
  }
  .testimonials .arrow:hover {
    color: var(--MainAltColor);
    border-color: var(--MainAltColor);
  }
  .testimonials .arrow.right {
    right: 30px;
  }
  .testimonials .arrow.left {
    left: 30px;
  }
  .testimonials .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
    gap: 6px;
  }
  .testimonials .bullets li {
    width: 20px;
    height: 20px;
    border: 2px solid var(--MainAltColor);
    border-radius: 50%;
    cursor: pointer;
  }
  .testimonials .bullets li:nth-child(2) {
    background-color: var(--MainColor);
    border-color: var(--MainColor) ;
  }
/* ----- Making The Testimonials Section Responsive ----- */
  @media (max-width: 991px) {
    .testimonials .arrow {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .testimonials .review-des {
      width: 95%;
    }
  }
/* Styling The Reservation Section */
  .reservation {
    padding-top: calc(var(--MainPaddingTop) + 30px);
    padding-bottom: var(--MainPaddingBottom);
  }
  .reservation .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .reservation .image {
    flex-basis: 50%;
  }
  .reservation .image img {
    width: 100%;
  }
  .reservation .form-content {
    flex-basis: 50%;
  }
  .reservation .details-title {
    text-align: center;
    color: var(--MainAltColor);
    text-transform: uppercase;
    font-size: 26px;
  }
  .reservation .highlight {
    color: var(--MainColor);
  }
  .reservation .input {
    display: block;
    width: 85%;
    margin: 20px auto;
    padding: 15px 20px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #444;
    background-color: #111;
    color: var(--MainAltColor);
    caret-color: var(--MainAltColor);
  }
  .reservation textarea.input {
    resize: none;
    height: 200px;
  }
  .reservation .input:focus {
    outline: none;
  }
  .reservation .input::placeholder {
    color: #777;
    font-size: 14px;
    transition: var(--MainTransition);
  }
  .reservation .input:focus::placeholder {
    opacity: 0;
  }
  .reservation button {
    display: block;
    width: fit-content;
    background-color: #191919;
    color: var(--MainColor);
    margin: 20px auto 0;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    border: 2px solid var(--MainColor);
    transition: var(--MainTransition);
  }
  .reservation button:hover {
    box-shadow: 0 0 0 20px var(--MainColor) inset;
    color: white;
  }
/* ----- Making The reservation Section Responsive ----- */
  @media (max-width: 991px) {
    .reservation .container {
      flex-direction: column;
      gap: 0;
    }
    .reservation .image,
    .reservation .form-content {
      width: 100%;
      flex-basis: 100%;
    }
    .reservation .input {
      width: 80%;
    }
  }
  @media (max-width: 575px) {
    .reservation .details-title {
      font-size: 20px;
    }
    .reservation .input {
      width: 95%;
    }
    .reservation button {
      font-size: 14px;
      padding: 8px 14px;
    }
  }
/* Styling The Blogs Section */
  .blogs {
    padding-top: var(--MainPaddingTop);
    padding-bottom: calc(var(--MainPaddingBottom) + 50px);
  }
  .blogs .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .blogs .box {
    border: 1px solid #444;
    border-radius: 4px;
    overflow: hidden;
    transition: var(--MainTransition);
  }
  .blogs .box:hover {
    transform: translateY(-10px);
  }
  .blogs .box img{
    width: 100%;
  }
  .blogs .content {
    padding: 20px;
  }
  .blogs .published {
    text-transform: uppercase;
    font-size: 14px;
    color: #bbb;
    font-weight: 500;
  }
  .blogs .highlight {
    color: var(--MainColor);
  }
  .blogs .subject {
    padding: 1rem 0;
    font-weight: 400;
    line-height: 1.7;
    color: #DDD;
  }
  .blog-bth {
    text-transform: uppercase;
    color: #bbb;
    font-weight: 600;
    font-size: 14px;
    transition: var(--MainTransition);
  }
  .blog-bth:hover {
    color: var(--MainAltColor);
  }
  .blog-bth i {
    margin-left: 8px;
  }
  .blogs .box:hover  i  {
      animation: moving-arrow var(--MainTransition) linear infinite;
  }
  @keyframes moving-arrow {
    100% {
      transform: translateX(10px);
    }
  }
/* ----- Making The Blogs Section Responsive ----- */
  @media (max-width: 667px) {
    .blogs .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .blogs .subject {
      max-width: 90%;
    }
  }
/* Styling The Footer Section */
  .hr {
    width: 100%;
    height: 1px;
    background-color: #333;
    position: relative;
  }
  .hr .up i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    font-size: 14px;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    transition: var(--MainTransition);
  }
  .hr .up i:hover {
    color: var(--MainColor);
    border-color: var(--MainColor);
  }
  footer .row,
  footer .row-two {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .row .boxes {
    display: flex;
    gap: 100px;
  }
  footer .row .box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
  }
  footer .row .box i {
    color: var(--MainColor);
    font-size: 20px;
  }
  footer .row .info {
    text-transform: uppercase;
    color: #bbb;
    font-weight: 500;
    font-size: 14px;
  }
  footer .row .highlight {
    color: var(--MainAltColor);
    font-size: 16px;
  }
  .sub-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
  }
  .sub-form::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #444;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);
  }
  .sub-form input[type="email"],
  .sub-form .submit{
    border: none;
    background: none;
    font-size: 14px;
    color: var(--MainAltColor);
  }
  .sub-form input[type="email"] {
    width: 250px;
    padding-left: 10px;
  }
  .sub-form input[type="email"]:focus {
    outline: none;
  }
  .sub-form input[type="email"]::placeholder {
    color: #777;
    font-size: 14px;
    transition: opacity var(--MainTransition);
  }
  .sub-form input[type="email"]:focus::placeholder {
    opacity: 0;
  }
  .submit {
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: var(--MainTransition);
  }
  .submit:hover {
    color: var(--MainColor);
  }
  footer .row-two {
    padding-top: 75px;
    align-items: flex-end;
  }
  footer .image {
    display: block;
  }
  footer .image img {
    object-fit: cover;
    max-width: 100%;
  }
  .footer-des {
    color: var(--MainAltColor);
    padding-top: 20px;
    max-width: 75%;
    line-height: 1.6;
  }
  .footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #555;
    border: 2px solid #555;
    border-radius: 50%;
    transition: var(--MainTransition);
  }
  .footer-social a:hover {
    background: var(--color);
    color: var(--MainAltColor);
    border-color: var(--color);
    transform: rotate(1turn);
  }
  footer .copyright-container {
    color: #ddd; 
    border-top: 1px solid #444;
    text-transform: capitalize;
    text-align: center;
    padding: 25px 0;
    margin: 100px 0 0;
  }
  footer .coded {
    margin-top: 20px;
  }
  footer .coded .author {
    color: #FFF;
    font-weight: 700;
}
/* ----- Making The Footer Section Responsive ----- */
  @media (min-width: 992px) and (max-width: 1199px) {
    footer .row {
      gap: 50px;
    }
    footer .row .boxes {
      gap: 50px;
    }
  }
  @media (max-width: 991px) {
    footer .row {
      flex-direction: column-reverse;
      gap: 50px;
    }
    footer .row-two {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    footer .row-two .box {
      text-align: center;
    }
    .footer-des {
      max-width: 85% !important;
      margin: 0 auto;
    }
  }
  @media (max-width: 767px) {
    footer .row .boxes {
      gap: 50px;
    }
    footer .row .box {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 499px) {
    footer .row .boxes {
      gap: 25px;
      flex-direction: column;
    }
    footer .row .box {
      flex-direction: row;
      align-items: center;
    }
    .sub-form {
      flex-direction: column;
      gap: 20px;
    }
    .sub-form::before {
      content: none;
    }
    .sub-form input[type="email"] {
      padding: 10px 6px;
      border-bottom: 1px solid #777;
    }
  }